<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Gender</th>
    <th>Birthdate</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to person.name, person %></td>
    <td><%= person.address %>
    <td><%= person.sex.try(:display_name) %>
    <td><%= person.birthdate %>
  </tr>
<% end %>
</table>
