/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

/* override bootstrap to make the navbar "flat" */
.navbar-inner {
    background-image: none;
    border: 0;
    border-bottom: 1px solid #D4D4D4;
    border-radius: 0;
    box-shadow: 0 0;
}

/* make text a little bigger than the default */
body {
    font-size: 16px;
}
